<!DOCTYPE html>
<html>
  <head>
    <title>Practice1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "background-color: #fffacd;"> <!--background-colorは背景、もじにマーカーとして表示も可能-->
    <header>
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #ffc0cb; height: 120px;">
      <!--navbar＝ナビゲーションバーの表示-->
      <!--navbar-expand-[ブレークポイント]＝指定したブレークポイント（画面幅）に応じてナビゲーションバー、
      ナビゲーションアイコン（ハンバーガーメニュー）を切り替えて表示-->
      <!--navbar-[カラースキーム]＝ナビゲーションのカラースキームの指定-->
        <div class="container"> <!--bootstrapの大きな箱?の部分-->
        
          <a href="/"><span class="title" style = "color: #0000ff; font-size: 40px">Practice</span></a>
          <!--hrefを使用して文字列にリンクを作成,styleにて文字カラーを青に、文字サイズを設定-->
          
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <!--button要素のnavbar-togglerとspan要素のnavbar-toggler-iconがナビゲーションアイコン（ハンバーガーメニュー）の見た目に関わるところです。-->
            <!--navbar-toggler＝ナビゲーションアイコン（ハンバーガーメニュー）の枠部分-->
            <!--navbar-toggler-icon＝ナビゲーションアイコン（ハンバーガーメニュー）の三本線部分-->
            
          <div class="collapse navbar-collapse" id="navbarNavDropdown"> 
          <!--ナビゲーションアイコンを開く前に隠しておきたいメニューは「collapse」classが付与された要素の中に入れておく-->
          <!--「collapse」classを付与している要素に任意のidを付与する-->
          <!--この文だけ記載しても画面にheaderのリストは表示されない、上記の内容も記載して、表示される。-->
          
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %> <!--ユーザーログイン時-->
                <li><%= link_to "書籍一覧", books_path %></li>
                <li><%= link_to "書籍新規投稿", new_book_path %></li>
                <li><%= link_to "マイページ", user_path(current_user.id), class: "fas fa-id-card" %></li>
                <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete %></li>
                <li><%= link_to "当サイトについて", about_path %></li>
              <% elsif admin_signed_in? %> <!--サイト管理者ログイン時 -->
                <li><%= link_to "書籍 一覧", admin_books_path, class: "fas fa-ice-cream" %></li>
                <li><%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: "fas fa-user-times" %></li>
              <% else %>
                <li><%= link_to "新規登録", new_user_registration_path %></li>
                <li><%= link_to "ログイン", new_user_session_path %></li>
                <li><%= link_to "当サイトについて", about_path %></li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    

    <main>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4" style = "font-size: 30px">
            <p class = "text-center">practice</p>
          </div>
          <div class="col-md-8" style = "font-size: 30px">
            <p class = "text-center">練習用に作成しています</p>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
