<!DOCTYPE html>
<html>
  <head>
    <title>Practice1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "background-color: #fffacd;">
    <header class = "navbar" style = "background-color: #ffc0cb; height: 120px">
      <div class="container">
        <a href="/"><span class="title" style = "color: #0000ff; font-size: 40px">Practice</span></a> 
        <!--hrefを使用して文字列にリンクを作成,styleにて文字カラーを青に、文字サイズを設定-->
       
        
      </div>
    </header>
    
    <main>
      <%= yield %>
    </main>
  
    <footer>
      <div class="container">
        <!--<div class="row">-->
          <div class="text-center">
            <p>練習用に作成しています</p>
          </div>
        <!--</div>-->
      </div>
    </footer>
  </body>
</html>
