<!DOCTYPE html>
<html>
  <head>
    <title>Practice1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body style = "background-color: #fffacd;">
    <header class = "navbar" style = "background-color: #ffc0cb; height: 130px">
      <div class="container">
       
       
        
      </div>
    </header>
    
    <main>
      <%= yield %>
    </main>
  
    <fooder>
      <div class="container">
        
      </div>
    </fooder>
  </body>
</html>
